.app{
.navbar{
  display: flex;
  background-color: rgba(0, 128, 255, 0.805) ;
  
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  .heading{
    color: white;
    font-size: 23px;
    font-weight: 600;
    width: 80%;
  }
  .reset{
   width: 80px;
   height: 30px;
   border-radius: 5px;
   color: rgba(0, 128, 255, 0.805) ;
   display: flex;
   justify-content: center;
   align-items: center;

   background-color: white;

  }
}
.IObox{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .input{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea{
      height: 150px;
      width: 300px;
      margin-bottom: 25px;
    }
    button{
      border: none;
      background-color: rgba(0, 128, 255, 0.805);
      color: white;
      height: 30px;
      width: 250px;
      border-radius: 5px;
    }
    
  }
  .output{
    div{
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 50px;
      border-radius: 5px;

    }
  }
}
}